body{
	background-color:#ADD8E6;
}

div{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}

h1{
	text-align: center;
}
form{
	background-color: #00FFFF;
	width: 261px;
	height: 400px;
	margin: auto;
	border:2px solid black;
}
input.answer{
	width:246px;
}

 input.clear{
	width:257px;
} 

input{
	background-color:#e7e7e7;
	width:80px;
	padding: 6px 4px;
    margin: 4px 2px;
}